.accordion
{
    border: 1px solid gray;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.accordion__header button
{
    font-size: 18px;
    font-weight: bold;
    padding: 20px 47px 20px 20px;
    border-width: 0px;
    border-radius: 0;    
    background-color:blueviolet;
    color: #fff;
    width: 100%;
    text-align: left;
    position: relative;
}
.accordion__header button:focus-visible, .accordion__header button:focus
{
    outline: 0;
}
.accordion__button.collapsed
{
    background-color: #fff;
    color: #000;
}

.accordion__button::after
{
    position: absolute;
    right: 20px;
    left: auto;
    width: 12px;
    height: 12px;
    content: "";
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    transform: rotate(45deg);
    top:45%;
    
}
.accordion__button.collapsed::after
{
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 0px solid #000;
    border-bottom: 0px solid #000;
}

.accordion__collapse.collapse
{
    display: none;
}
.accordion__collapse.show
{
    display: block;
}
.accordion__body
{
    padding: 20px;
}
.accordion__item
{
    transition: all 0.2s ease-in-out;
    border-bottom: 1px solid gray;
}
.accordion__item:last-of-type
{
    border-bottom: 0px solid gray;
}